@using BookCat.Site.Controllers
@model HomeController.IndexViewModel

@{
    ViewData["Title"] = "BookCat";
}

<div class="landing-wrapper">
    <div class="landing-text">
        <h1>Discover, review, and share the stories that shape you.</h1>
        <p>BookCat is your cozy corner of the internet for book lovers. Browse an ever-growing catalog, 
        read authentic reviews, and add your own thoughts with a purr-sonal touch. Can’t find a book? Just search for it — our cat librarian will fetch it for you!</p>
        <p>Go to the <a class="animated" asp-controller="Books" asp-action="Index">Cat-alog</a>!</p>
    </div>
    <div class="landing-image-wrapper">
        <img class="landing-image" src="~/images/landing.png" alt="Landing page image">
    </div>
</div>
<div class="stats">
    <div class="stat-item">
        <h3>Books</h3>
        <p>@Model.BookCount</p>
    </div>
    <div class="stat-item">
        <h3>Reviews</h3>
        <p>@Model.ReviewCount</p>
    </div>
</div>
<h3 class="most-recent">Most recent</h3>
<div class="cards-container">
    @foreach (Book b in Model.Books){
            @if(b.CoverUrl is null){
                <a class="clean-link card-link" asp-controller="Books" asp-action="Details" asp-route-id="@b.Id">
                    <div class="card">
                        <img src="~/images/default_book.png" alt="Cover for @b.Title">
                        <div class="card-text">@b.Title</div>
                    </div>
                </a>
            }
            else{
                <a class="clean-link card-link" asp-controller="Books" asp-action="Details" asp-route-id="@b.Id">
                    <div class="card">
                        <img src="@b.CoverUrl" alt="Cover for @b.Title">
                        <div class="card-text">@b.Title</div>
                    </div>
                </a>
            }
    }
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/landing.css">
    <link rel="stylesheet" href="~/css/book-carousel.css">
}