@using BookCat.Site.Controllers
@using Microsoft.AspNetCore.Identity

@model AccountController.DashViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="user-profile-wrapper">
    <div class="user-profile">
        <div class="user-left">
            @if(string.IsNullOrEmpty(Model.User.UserImageUrl)){
                <img class="profile-picture" src="~/images/default_user.png" alt="User profile picture">
            }
            else
            {
                <a href="@Model.User.UserImageUrl" target="_blank"><img class="profile-picture" src="@Model.User.UserImageUrl" alt="User profile picture"></a>
            }
            <h2>@Model.User.UserName</h2>
            <a class="btn clean-link t-align-center" asp-controller="User" asp-action="Index" asp-route-username="@Model.User.UserName">Public Profile</a>
        </div>
        <div class="user-details">
            <p>Email: @Model.User.Email</p>
            <div class="change-btns">
                <a class="btn clean-link" asp-controller="Account" asp-action="ChangeEmail">Change Email</a>
                <a class="btn clean-link" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                <a class="btn-danger clean-link" asp-controller="Account" asp-action="DeleteAccount">Delete Account</a>
            </div>
            <p>Books Added: @Model.BooksAdded</p>
            <p>Total Reviews: @Model.TotalReviews</p>
            <p>Joined: @(DateOnly.FromDateTime(Model.User.JoinedDateTime))</p>
        </div>
    </div>
    <div class="user-bio">
        <h3>Bio</h3>
        @if(string.IsNullOrEmpty(Model.User.Bio)){
            <p>No Bio</p>
        }
        else{
            <p class="include-new-lines">@Model.User.Bio</p>
        }
    </div>
</div>
<form class="change-pfp-form" asp-controller="Account" asp-action="ChangePfp" method="post" enctype="multipart/form-data">
    <div>
        <h3>Change Profile Picture</h3>
        <input class="btn" type="file" name="pfp" id="pfp" accept="image/*" required/>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>
<form class="change-pfp-form" asp-controller="Account" asp-action="ChangeBio" method="post">
    <div class="change-bio-container">
        <h3>Change Bio</h3>
        <textarea class="change-bio-input input-border" name="bio" id="bio" placeholder="New Bio">@Model.User.Bio</textarea>
    </div>
    <button class="btn" type="submit">Update</button>
</form>

@section Styles{
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/user-dash.css">
}