@model Book

@{
    ViewData["Title"] = Model.Title;
}

<div class="book-wrapper">
    <div class="book-img-wrapper">
        @if (Model.CoverUrl is null)
        {
            <img class="cover-img" src="~/images/default_book.png" atl="Cover for @Model.Title">
        }
        else
        { 
            <img class="cover-img" src="@Model.CoverUrl" atl="Cover for @Model.Title">
        }
    </div>
    <div class="book-info-wrapper">
        <h3 class="title">@Model.Title</h3>
        @if(Model.Subtitle is not null){
            <h4>@Model.Subtitle</h4>
        }
        @if(Model.Author is not null){
            <p>Author: @Model.Author</p>
        }
        @if(Model.Publisher is not null){
            <p>Publisher: @Model.Publisher</p>
        }
        @if(Model.PublishedDate is not null){
            <p>Published: @Model.PublishedDate</p>
        }
        @if(Model.AddedById is not null && Model.AddedBy is not null){
            <p>Added By: @Model.AddedBy.UserName</p>
        }
    </div>
</div>
<div class="review-btn-wrapper">
    <a class="clean-link btn review-btn" asp-controller="Books" asp-action="WriteReview" asp-route-id="@Model.Id">Write Review</a>
</div>
<div class="book-description">
    <h4>Description</h4>
    <p>@Model.Description</p>
</div>
<div class="review-wrapper">
    @if(Model.Reviews.Count < 1){
        <h3 class="no-reviews">No Reviews Yet</h3>
    }
    @foreach (Review review in Model.Reviews){
        <div class="review-card">
            <div class="user-info">
                @if(string.IsNullOrEmpty(review.User.UserImageUrl)){
                    <img src="~/images/default_user.png" alt="User profile picture">
                }
                else{
                    <img src="@review.User.UserImageUrl" alt="User profile picture">
                }
                <p>@review.User.UserName</p>
            </div>
            <div class="review-info">
                <p class="review-title">@review.Title</p>
                <div class="review-stars">
                    @for (int i = 0; i < review.Rating; i++){
                        <span class="material-symbols-outlined"> star_rate </span>
                    }
                </div>
                <p class="review-body">@review.Comment</p>
            </div>
        </div>
    }
</div>


@section Styles{
    <link rel="stylesheet" href="~/css/details.css">
    <link rel="stylesheet" href="~/css/review.css">
}