@using BookCat.Site.Controllers
@using Microsoft.AspNetCore.Identity
@model BooksController.BookDetailsViewModel
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = Model.Book.Title;
}

<div class="book-wrapper">
    <div class="book-img-wrapper">
        @if (Model.Book.CoverUrl is null)
        {
            <img class="cover-img" src="~/images/default_book.png" atl="Cover for @Model.Book.Title">
        }
        else
        { 
            <img class="cover-img" src="@Model.Book.CoverUrl" atl="Cover for @Model.Book.Title">
        }
    </div>
    <div class="book-info-wrapper">
        <h3 class="title">@Model.Book.Title</h3>
        @if(Model.Book.Subtitle is not null){
            <h4 class="subtitle">@Model.Book.Subtitle</h4>
        }
        @if(Model.Book.Author is not null){
            <p>Author: @Model.Book.Author</p>
        }
        @if(Model.Book.Publisher is not null){
            <p>Publisher: @Model.Book.Publisher</p>
        }
        @if(Model.Book.PublishedDate is not null){
            <p>Published: @Model.Book.PublishedDate</p>
        }
        @if(Model.Book.AddedById is not null && Model.Book.AddedBy is not null){
            <p>Added By: <a asp-controller="User" asp-action="Index" asp-route-id="@Model.Book.AddedById">@Model.Book.AddedBy.UserName</a></p>
        }
        <p>Date Added: @Model.Book.AddedOn</p>
        @if(Model.Book.Reviews.Count > 0){
            int sum = 0;
            foreach (var r in Model.Book.Reviews){
                sum += r.Rating;
            }
            string average = string.Format("{0:0.0}", sum / Model.Book.Reviews.Count);
            <p class="average-rating">
                <span>Average Rating: </span>
                <span>
                    @for(int i = 0; i < sum / Model.Book.Reviews.Count; i++){
                        <span class="material-symbols-outlined on-star"> star_rate </span>
                    }
                    @for(int i = 0; i < 5 - sum / Model.Book.Reviews.Count; i++){
                        <span class="material-symbols-outlined"> star_rate </span>
                    }
                </span>
                <span>(@Model.Book.Reviews.Count Reviews)</span>
            </p>
        }
        else{
            <p class="average-rating">
                <span>No Ratings</span>
            </p>
        }
    </div>
</div>
<div class="review-btn-wrapper">
    @if(Model.UserReviewId is null){
        <a class="clean-link btn" asp-controller="Books" asp-action="WriteReview" asp-route-id="@Model.Book.Id" asp-fragment="WriteReview">Write Review</a>
    }
    else{
        <a class="clean-link btn" asp-controller="Books" asp-action="EditReview" asp-route-id="@Model.UserReviewId" asp-fragment="WriteReview">Edit Review</a>
    }
    
</div>
<div class="book-idfs">
    @foreach(var idf in Model.Book.Identifiers){
        if(idf.Type is null){
            <p>Unknown Identifier: @idf.Value</p>
        }
        <p>@idf.Type: @idf.Value</p>
    }
</div>
<div class="book-description">
    <h3>Description</h3>
    <p>@Html.Raw(Model.Book.Description)</p>
</div>
<h3>Reviews</h3>
<div class="review-wrapper">
    @if(Model.Book.Reviews.Count < 1){
        <h3 class="no-reviews">No Reviews Yet</h3>
    }
    @foreach (Review review in Model.Book.Reviews){
        <div class="review-card">
            <div class="user-info">
                <a asp-controller="User" asp-action="@review.UserId">
                    @if(string.IsNullOrEmpty(review.User.UserImageUrl)){
                        <img src="~/images/default_user.png" alt="User profile picture">
                    }
                    else{
                        <img src="@review.User.UserImageUrl" alt="User profile picture">
                    }
                    <p>@review.User.UserName</p>
                </a>
                @{
                    var currentUser = await UserManager.GetUserAsync(User);
                }
                @if(currentUser is not null && currentUser.Id == review.UserId){
                    <div class="edit-btns">
                        <a class="btn clean-link" asp-controller="Books" asp-action="EditReview" asp-route-id="@review.Id" asp-fragment="WriteReview">Edit</a>
                        <form asp-controller="Books" asp-action="DeleteReview" method="post" onsubmit="return confirm('Are you sure you want to delete this review?');">
                            <input class="hidden" type="text" value="@review.Id" name="id">
                            <input class="hidden" type="text" value="/Books/Details/@Model.Book.Id" name="returnUrl">
                            <input class="btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                }
            </div>
            <div class="review-info">
                <p class="review-title">Title: @review.Title</p>
                <div class="review-stars">
                    <span>Rating: </span>
                    @for (int i = 0; i < review.Rating; i++){
                        <span class="material-symbols-outlined on-star"> star_rate </span>
                    }
                    @for (int i = 0; i < 5 - review.Rating; i++){
                        <span class="material-symbols-outlined"> star_rate </span>
                    }
                </div>
                <p>Posted: @(DateOnly.FromDateTime(review.PostedAt))</p>
                <p class="review-body include-new-lines">@review.Comment</p>
            </div>
        </div>
    }
</div>
@if(Model.Book.Reviews.Count > 0){
    <div class="pagination-wrapper">
        @if(Model.CurrentPage != 1){
            <a class="pagination-item btn clean-link" asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id" asp-route-page="@(Model.CurrentPage - 1)">&lt;</a>
        }
        else{
            <span class="pagination-item">&lt;</span>
        }
        @for(int i = 1; i < Model.TotalPages + 1; i++){
            @if(Model.CurrentPage == i){
                <span class="pagination-item current-page clean-link">@i</span>
            }
            else{
                <a class="pagination-item" asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id" asp-route-page="@i">@i</a>
            }
        }
        @if(Model.CurrentPage != Model.TotalPages){
            <a class="pagination-item btn clean-link" asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id" asp-route-page="@(Model.CurrentPage + 1)">&gt;</a>
        }
        else{
            <span class="pagination-item">&gt;</span>
        }
    </div>
}


@section Styles{
    <link rel="stylesheet" href="~/css/details.css">
    <link rel="stylesheet" href="~/css/review.css">
}