@using BookCat.Site.Controllers
@model BooksController.CatalogIndexModel

@{
    ViewData["Title"] = "Catalog";
}

<h1 class="page-title">Book Catalog</h1>
<form class="search-form" asp-controller="Books" asp-action="Search" method="get">
    <input class="search-bar" name="query" type="text" placeholder="Title or ISBN" required>
    <span class="material-symbols-outlined search-icon">
    search
    </span>
</form>
<div class="book-carousel">
    <h3>Recent Books</h3>
    @if (Model.Books is not null){
        <div class="cards-container">
        @foreach (Book b in Model.Books){
            @if(b.CoverUrl is null){
                <a class="clean-link card-link" asp-controller="Books" asp-action="Details" asp-route-id="@b.Id">
                    <div class="card">
                        <img src="~/images/default_book.png" alt="@b.Title">
                        <div class="card-text">@b.Title</div>
                    </div>
                </a>
            }
            else{
                <a class="clean-link card-link" asp-controller="Books" asp-action="Details" asp-route-id="@b.Id">
                    <div class="card">
                        <img src="@b.CoverUrl" alt="@b.Title">
                        <div class="card-text">@b.Title</div>
                    </div>
                </a>
            }
        }
        </div>
    }
    else{
        <h1>Error</h1>
    }
</div>
<div>
    <h3>Recent Reviews</h3>
    <div class="review-card-container">
        @if(Model.Reviews is null){
            <h1>Error</h1>
        }
        else{
            @foreach (Review review in Model.Reviews){
                <div class="review-card">
                    <div class="user-info">
                        @if(string.IsNullOrEmpty(review.User.UserImageUrl)){
                            <img src="~/images/default_user.png" alt="User profile picture">
                        }
                        else{
                            <img src="@review.User.UserImageUrl" alt="User profile picture">
                        }
                        <p>@review.User.UserName</p>
                    </div>
                    <div class="review-info">
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@review.Book.Id">
                            <h3>@review.Book.Title</h3>
                        </a>
                        <p class="review-title">@review.Title</p>
                        <div class="review-stars">
                            @for (int i = 0; i < review.Rating; i++){
                                <span class="material-symbols-outlined"> star_rate </span>
                            }
                        </div>
                        <p class="review-body">@review.Comment</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/catalog.css">
    <link rel="stylesheet" href="~/css/search-bar.css">
    <link rel="stylesheet" href="~/css/book-carousel.css">
    <link rel="stylesheet" href="~/css/review.css">
}