@using BookCat.Site.Controllers
@model BooksController.ResultsViewModel

@{
    ViewData["Title"] = "Results";
}

<form class="search-form" asp-controller="Books" asp-action="Search" method="get">
    <input class="search-bar" name="query" type="text" placeholder="Title or ISBN" required>
    <span class="material-symbols-outlined search-icon">
    search
    </span>
</form>

@foreach (var item in Model.Books){
    <div class="book-card">
        <div class="book-cover-wrapper">
            @if(string.IsNullOrEmpty(item.CoverUrl)){
            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">
                <img class="book-cover" src="~/images/default_book2.png" alt="@item.CoverUrl Book Cover">
            </a>
            }
            else{
            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">
                <img class="book-cover" src="@item.CoverUrl" alt="@item.CoverUrl Book Cover">
            </a>
            }
        </div>
        <div class="book-info-wrapper">
            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">
                <h3>@item.Title</h3>
            </a>
            @if(item.Subtitle is not null){
                <h4>@item.Subtitle</h4>
            }
            @if(item.Author is not null){
                <p>By: @item.Author</p>
            }
            @{
                string result = "0";
                if(item.Reviews.Count > 0){
                    int count = 0;
                    foreach (var review in item.Reviews)
                    {
                        count += review.Rating;
                    }
                    float value = (float)count / item.Reviews.Count;
                    result = string.Format("{0:0.00}", value);
                }
            }
            @if(item.Reviews.Count > 0){
                <p>Rating: @result / 5</p>
                <p>Reviews: @item.Reviews.Count</p>
            }
            else{
                <p>No Reviews</p>
            }
            @if (item.AddedBy is not null){
                <p>Added By: @(item.AddedBy.UserName)</p>
            }
        </div>
    </div>
}
<div class="not-here-search-wrapper">
    <h3>Not here? Search to add</h3>
    <div>
        <a class="btn clean-link"asp-controller="Books" asp-action="ExSearch" asp-route-query="@Model.Query">Add +</a>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/search-bar.css">
    <link rel="stylesheet" href="~/css/results.css">
}